.grupo-img {
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 40px;
}

.grupo-img img {
width: 42px;
opacity: 0.7;
}

.grupo-card {
display: flex;
justify-content: space-between;
gap: 30px;
margin-top: 50px;
}

.card {
background: white;
padding: 24px;
border-radius: 8px;
flex: 1;
text-align: center;
box-shadow: 0px 2px 8px rgba(0,0,0,0.08);
max-width: 300px;
}

.icono-contenedor {
margin-bottom: 20px;
}

.icono-contenedor img {
width: 65px;
}

.card h3 {
color: #4D4D4D;
font-size: 28px;
font-weight: 700;
margin-bottom: 12px;
}

.card p {
color: #717171;
line-height: 1.6;
}
