.grupo-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    flex-wrap: wrap;
    gap: 20px;
}

.grupo-img img {
    height: 48px; /* Restringimos el alto para uniformidad */
    width: auto;
}

.grupo-card {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 32px;
}

.card {
    background-color: #FFFFFF;
    flex: 1; /* Permite que todas las tarjetas tengan el mismo ancho */
    padding: 24px 32px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 2px 8px rgba(171, 190, 209, 0.2);
}

.icono-contenedor {
    margin-bottom: 20px;
}

.icono-contenedor img {
    width: 65px;
    height: auto;
}

.card h3 {
    color: #4D4D4D;
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 12px;
}

.card p {
    color: #717171;
    font-size: 14px;
    line-height: 20px;
}

.seccion-centrada h2 {
    color: #4D4D4D;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
}
