.cta-final {
background-color: #F5F7FA;
padding: 48px 0;
}

.contenedor-cta {
width: 887px;
margin: 0 auto;
}

.contenedor-cta h2 {
font-size: 64px;
font-weight: 600;
line-height: 76px;
color: #263238;
margin-bottom: 32px;
}
