.nav-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.menu-links a {
    text-decoration: none;
    color: #18191F;
    margin: 0 15px;
    font-weight: 500;
}

.menu-links a.active {
    font-weight: bold;
}

.menu-botones button {
    border: none; 
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
}

.btn-login {
    background: transparent;
    color: #4CAF50;
}

.btn-signup {
    background-color: #4CAF50;
    color: white;
}
